<div class="container">
  <h2>Password Generator</h2>
  <div class="result-container">
    <span> {{result}}</span>
    <button class="btn copy" title="copy" [copyClipboard]="result">
      <i class="far fa-clipboard"></i>
    </button>
    <button class="btn erase" title="erase" *ngIf="result" (click)="eraseResult()">
      <i class="fa fa-eraser"></i>
    </button>
  </div>
  <div class="settings">
    <div class="setting">
      <label>Password Length</label>
      <input type="number" [(ngModel)]="length" name="length" min="4" max="20" value="20">
    </div>
    <div class="setting">
      <label>Include uppercase letters</label>
      <div class="toggle-container">
        <input type="checkbox" id="uppercase" [(ngModel)]="characters.uppercase" name="uppercase" class="toggle">
        <label for="uppercase" class="label">
          <div class="ball"></div>
        </label>
      </div>
    </div>
    <div class="setting">
      <label>Include lowercase letters</label>
      <div class="toggle-container">
        <input type="checkbox" id="lowercase" [(ngModel)]="characters.lowercase" name="lowercase" class="toggle">
        <label for="lowercase" class="label">
          <div class="ball"></div>
        </label>
      </div>
    </div>
    <div class="setting">
      <label>Include numbers</label>
      <div class="toggle-container">
        <input type="checkbox" id="numbers" [(ngModel)]="characters.numbers" name="numbers" class="toggle">
        <label for="numbers" class="label">
          <div class="ball"></div>
        </label>
      </div>    </div>
    <div class="setting">
      <label>Include symbols</label>
      <div class="toggle-container">
        <input type="checkbox" id="symbols" [(ngModel)]="characters.symbols" name="symbols" class="toggle">
        <label for="symbols" class="label">
          <div class="ball"></div>
        </label>
      </div>
    </div>
  </div>
  <button class="btn btn-large" (click)="generatePassword(characters, length)">
    Generate Password
  </button>
</div>

